node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

0x982bc16f66875339a240b8994EAb519ACB180D74
Hard wallet eth addresssrc/arbitrage_opportunities.log
src/updateuv3.log
src/updateuv3.log
src/arbitrage_opportunities.log
src/arbitragetest.log
src/uniswap_v2_pair_finder.log
src/uniswap_v2_pair_updater.log
src/update_uniswap.log
src/updateuv2.log
src/updateuv3.log
